/* aside button 기본값 */
.today_collect_btn_invisible {
  display: none;
}

.reserve_btn_invisible {
  display: none;
}

.top_btn_invisible {
  display: none;
}

/* 오늘의 소장품 button */
.today_collect_btn_visible {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 25px;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 40%;
  left:-8vh;
  z-index: 9999;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: all 1s ease-in-out;
}

.today_collect_btn_visible p {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  line-height: 25px;
}

.today_collect_btn_visible:hover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 25px;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 예약바로가기 button */
.reserve_btn_visible {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px 20px 20px 15px;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 40%;
  right: -8vh;
  z-index: 9999;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 1s ease-in-out;
}

.reserve_btn_visible p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.reserve_btn_visible:hover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px 20px 20px 15px;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 상단으로 이동 button */
.top_btn_visible {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 9999;
  display: block;
}

.top_btn_visible>a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.top_btn_visible>a>span {
  line-height: 50px;
  font-size: 30px;
  color: #fff;
  display: block;
}

/* 자연스럽게 나타나기 */
@keyframes collect_btn {
  from {
    transform: translate(-100px, 0);
  }

  to {
    transform: translate(0,0);
  }
}

@keyframes reserve_btn {
  from {
    transform: translate(100px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes top_btn {
from {
    transform: translate(0, 100px);
  }
    
to {
    transform: translate(0, 0);
  }

}


/* 자연스럽게 사라지기 */
@keyframes collect_btn_reverse {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100px, 0);
  }
}

@keyframes reserve_btn_reverse {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100px, 0);
  }
}

@keyframes top_btn_reverse {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 100px);
  }

}
