
/* 메인메뉴 */
#mainmn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 50px 0 25px 0;
        box-sizing: border-box;
}

#mainmn li {
        margin-top: 20px;
}

#mainmn>li>a {
        font-weight: 900;
        font-size: 18px;
}

#mainmn .h_logo {
        width: 190px;
}

#mainmn img {
        width: 100%;
}

/* 서브메뉴 */
#mainmn .submn {
        width: 100%;
        margin-top: 15px;
        display: none;
}

/* 콘텐츠 */
#contents {
        width: 1200px;
        height: 1090px;
        margin: 0 auto;
        margin-top: 50px;
}


/* 전시목록 */

#contents .c_top {
        width: 1200px;
        height: 400px;
}

#contents .c_top li {
        float: left;
}

#contents .c_top li p {
        width: 160px;
        height: 70px;
        margin-top: 270px;
        border-left: 3px solid #707070;
        margin-left: 7px;
        padding-left: 10px;
}

#contents .c_top li>img {
        width: 300px;
        height: 300px;
}

#contents .c_top li p>a {
        font-size: 14px;
        color: #707070;
}

#contents .c_top li p>a:hover {
        text-decoration: underline;
}

#contents .c_top li p>span {
        font-size: 11px;
        color: #707070;
        display: inline-block;
        padding-top: 10px;
}

#contents .c_top .exh_text {
        padding-top: 30px;
}

#contents .c_top .exh1-2 {
        padding-left: 90px;
}

#contents .c_bottom {
        width: 1200px;
        height: 540px;
}

#contents .c_bottom li {
        float: right;
}

#contents .c_bottom li p {
        width: 180px;
        height: 100px;
        margin-top: 235px;
        border-right: 3px solid #707070;
        margin-right: 7px;
        text-align: right;
        padding-right: 10px;
}

#contents .c_bottom .exh2-2 {
        padding-left: 90px;
}

#contents ._bottom li>img {
        width: 300px;
        height: 300px;
}

#contents .c_bottom li p>a {
        font-size: 14px;
        color: #707070;
}

#contents .c_bottom li p>a:hover{
        text-decoration: underline;
}

#contents .c_bottom li p>span {
        font-size: 11px;
        color: #707070;
        display: inline-block;
        padding-top: 17px;
}
