#wrap{
  width: 100%;
}

/* 메인이미지 */
#mainslide{
  width: 100%; 
  height: 900px;
}

#container{
  width: 100%;
}

#container .album{
  width: 100%; 
  height: 900px;
  overflow: hidden;
}
/* 슬라이드 버튼 */
#container .album .mainslide_btn{}
/* 슬라이드 이미지 */
#container .images{
  position: relative;       
  display: flex; 
  height: 900px;
}

#container .images img{
  width: 100%; 
  height: 900px; 
  z-index: 999;
  object-fit: cover;
}

/* 전시종료 안내 배너 */
#exh_bnr{width: 100%; height: 80px;
        background-color: black;}
    #exh_bnr div{font-size: 20px; color: #ABFF00;
                    width: 1000px; height: 80px;
                    line-height: 80px; margin: 0 auto;
                    display: flex; justify-content: space-between;}
    #exh_bnr p{font-size: 20px;}
    #exh_bnr > span{float: right; font-size: 20px;}


/* 컨텐츠 */
#contents{width: 100%; height: 200px;}








        






