*{
    margin: 0;
    padding: 0;}

#wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content_top{
    width: 1000px;
}

/* 관람안내 */
#c_info{
    width: 100%;
    height: 180px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
#c_info > h1{
    color: #707070;
    font-size: 22px;
}
#c_info > p{
    color: #707070;
    font-size: 18px;
}
#c_info > div{
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 90px 90px;
    text-align: center;
    line-height: 90px;
}

#c_info > div a{
    color: #fff;
}

/* 책그림섬 */
#c_child{
    width: 1000px;
    height: 925px;
    position: relative;
}
/* 책그림섬메인 */
#c_child > img{
    width: 1000px;
    height: 600px;
}
#c_child .c_child_main{
    width: 920px;
    height: 350px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#c_child .c_child_main > img{
    border: 1px solid #fff;
    padding: 10px;
}
#c_child .c_child_main > p{
    margin-top: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
#c_child .c_child_main > h3{
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
}
#c_child .c_child_main > span{
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
}
#c_child ul{
    width: 100%;
    position: absolute;
    top:450px;
    display: flex;
    justify-content: space-around;
}

/* 교육프로그램 */
#content_bottom{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#c_edu{
    width: 530px;
    height: 535px;

}

#c_edu .c_edu_top{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#c_edu .c_edu_top > p{
    margin: 0;
    font-size: 26px;
    color: #707070;
}

#c_edu .c_edu_top .btn {

    display: flex;
    justify-content: right;
}

#c_edu .c_edu_top > .btn .btn_01{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 15px 15px;
    border: 1px solid #000;
    background-color: #000;
    
}
#c_edu .c_edu_top > .btn .btn_02{
    width: 15px;
    height: 15px;
    border-radius: 15px 15px;
    border: 1px solid #000;
    background-color: #fff;
}
#c_edu .poster{
    width: 530px;
    height: 260px;
    display: flex;
    justify-content: space-between;
}

#c_edu .poster img{
    width: 260px;
    /* width: 260px;
    height: 260px; */
    border: 1px solid #707070;
}


/* 미술관 소식 */
#c_news{
    width: 380px;
    height: 535px;
}

#c_news .c_news_top{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#c_news .c_news_top > p{
    margin: 0;
    font-size: 26px;
    color: #707070;
}
#c_news .c_news_top .btn{

    display: flex;
}

#c_news .c_news_top .btn .btn_01{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 15px 15px;
    background-color: #000;
    border: 1px solid #000;
}
#c_news .c_news_top .btn .btn_02{
    width: 15px;
    height: 15px;
    border-radius: 15px 15px;
    background-color: #fff;
    border: 1px solid #000;
}
#c_news .read{
    width: 378px;
    height: 260px;
    display: flex;
    justify-content: space-between;

}
#c_news .read > div{
    width: 175px;
    height: 100%;
    border: 2px solid #707070;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#c_news .read > div > h5{
    font-size: 13px;
    color: #707070;
   
}
#c_news .read > div > p{
    font-size: 11px;
    color: #707070;
}
#c_news .read > div > span{
    font-size: 11px;
    color: #707070;
}


