#pageSatisfy {
  margin: 0 auto;
  width: 1000px;
  height: 430px;
}

#pageSatisfy header {
  overflow: hidden;
  padding: 15px;
  color: #fff
}

#pageSatisfy header p {
  float: left;
  font-weight: bold;
  font-size: 1.2em;
}

#pageSatisfy header .point {
  float: right
}

#pageSatisfy header .point span {
  padding-right: 10px;
  font-size: 0.9em;
}

#pageSatisfy .satisfyInner {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #b5b7bf;
  border-width: 0 1px 1px 1px;
  min-height: 30px;
  margin-bottom: 20px;
}

#pageSatisfy .satisfyInner span {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  float: left;
  line-height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

#pageSatisfy .satisfyInner input[type="radio"] {
  margin-right: 1px;
}

#pageSatisfy .satisfyInner .comment {
  position: relative;
}

#pageSatisfy .satisfyInner .comment textarea {
  float: left;
  width: 65%;
  height: 67px;
  font-size: 1em;
}

#pageSatisfy .satisfyInner .comment .button {
  width: 20%;
  height: 30px;
  float: right;
  margin: 0;
  background-color: #474e61;
  color: #fff;
  border-color: #474e61;
}

#pageSatisfy .manager {
  overflow: hidden;
  height: 50px;
  background: #f9f9f9;
  border: 1px solid #b5b7bf;
  border-width: 1px 1px 0px 0px;
display: flex;
align-items: center;
}

#pageSatisfy .manager.single {
  border-width: 1px 1px 1px 0px;
}

#pageSatisfy .manager h3 {
  float: left;
  width: 130px;
  height:50px; 
  padding:25px 0 0 15px;
  background: url(https://www.busan.go.kr/humanframe/global/assets/img/bg_order.png) no-repeat right center;
  color: #fff;
}

#pageSatisfy .manager dl {
  overflow: hidden;
  padding: 0 0 0 15px;
  font-size: 0.9em;
}

#pageSatisfy .manager dt,
#pageSatisfy .manager dd {
  float: left
}

#pageSatisfy .manager dt {
  font-weight: bold;
  padding-right: 10px;
  margin-right: 10px;
}

#pageSatisfy .manager dt a:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url(../img/icon_link_dpt.png) no-repeat center;
  vertical-align: middle;
}

#pageSatisfy .manager dd+dt {
  margin-left: 10%;
}

#pageSatisfy header p:before {
  top: 0px !important;
}

/* #pageSatisfy header p		{ height: auto !important; min-height: 50px; } */
#pageSatisfy #satisfactionVO header p {
  min-height: 0px;
}

#pageSatisfy header {
  background-color: #2d5785;
}

#pageSatisfaction header {
  background-color: #fff;
  color: #666;
}