/* aside button 기본값 */
.today_collect_btn_invisible {
    display: none;
}

.reserve_btn_invisible {
    display: none;
}

.top_btn_invisible {
    display: none;
}

/* 오늘의 소장품 button */
.today_collect_btn_visible {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 25px;
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    top: 40%;
    left: -75px;
    z-index: 9999;
    display: flex;
    justify-content: right;
    align-items: center;
}

.today_collect_btn_visible p {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    line-height: 25px;
}

/* 예약바로가기 button */
.reserve_btn_visible {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px 20px 20px 15px;
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    top: 40%;
    right: -75px;
    z-index: 9999;
    display: flex;
    justify-content: left;
    align-items: center;
}

.reserve_btn_visible p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    text-align: end;
}

/* 상단으로 이동 button */
.top_btn_visible {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 9999;
    display: block;
}

.top_btn_visible>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.top_btn_visible>a>span {
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    display: block;

}