*{
    margin: 0;
    padding: 0;}

#wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content_top{
    width: 1000px;
}

/* 관람안내 */
#c_info{
    width: 100%;
    height: 180px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
#c_info > h1{
    color: #707070;
    font-size: 22px;
}
#c_info > p{
    color: #707070;
    font-size: 18px;
}
#c_info > div{
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 90px 90px;
    text-align: center;
    line-height: 90px;
}

#c_info > div:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#c_info > div a{
    color: #fff;
}

/* 책그림섬 */
#c_child{
    width: 1000px;
    height: 925px;
    position: relative;
}

/* 책그림섬메인 */
#c_child > img{
    width: 1000px;
    height: 600px;
}

#c_child .c_child_main{
    width: 920px;
    height: 350px;
    position: absolute;
    top: 50px;
    left: 50px;
}

#c_child .c_child_main img{
    border: 1px solid #fff;
    padding: 10px;
}

#c_child .c_child_main > p{
    margin-top: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
#c_child .c_child_main > h3{
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
}
#c_child .c_child_main > span{
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
}
#c_child ul{
    width: 100%;
    opacity:1; 
    position: absolute;
    top:450px;
    display: flex;
    justify-content: space-around;
}
#c_child ul a > figcaption{
    width: 250px; 
    height: 250px;
    background-color: rgba(0,0,0,0.75);
    position: absolute; 
    top: 0px;
    color: #fff; 
    text-align: center;
    line-height: 250px;
    opacity: 0; 
    transition: 0.3s;
}
#c_child a:hover figcaption, #c_child a:focus figcaption{
    opacity: 1;
  }


/* 교육프로그램 */
#content_bottom{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#c_edu{
    width: 530px;
    height: 550px;
    overflow: hidden;

}

#c_edu .c_edu_top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 530px;
    height: 300px;
    margin-bottom: 5px;
    position: relative;
}

#c_edu .c_edu_top > p{
    float: left;
    font-size: 26px;
    color: #707070;
    margin-bottom: 14px;
}
#c_edu input[type="radio"]{
    display: none;
}

#c_edu .c_edu_top .btn {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 8px;
    left: 480px;
}
.btn label[for*="tab"]{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 15px 15px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.btn label:hover{
    background-color: #70707063;
    transition: 0.3s;
}

#c_edu .poster{
    width: 530px;
    height: 260px;
    display: flex;
    justify-content: space-between;

}

#c_edu .poster img{
    width: 260px;
    width: 260px;
    border: 1px solid #707070;
   /* display: none; */

}
#c_edu .con1 img{
    display: none;
}
#c_edu .con2 img{
    display: none;
}


#c_edu input[id="tab01"]:checked ~ .btn > label[for="tab01"]{
    background-color: #000;
}
#c_edu input[id="tab02"]:checked ~ .btn > label[for="tab02"]{
    background-color: #000;
}

 #c_edu input[id="tab01"]:checked ~ .con1 img{
    display: block;
}
#c_edu input[id="tab02"]:checked ~ .con2 img{
    display: block;
} 








/* 미술관 소식 */
#c_news{
    width: 380px;
    height: 535px;
}

#c_news .c_news_top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 480px;
    height: 310px;
    margin-bottom: 10px;
    position: relative;
}

#c_news .c_news_top > p{
    float: left;
    font-size: 26px;
    color: #707070;
}

.c_news_top input[type="radio"]{
    display: none;
}

.c_news_top .btn {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 8px;
    right: 105px;

}
.c_news_top .btn label:hover{
    background-color: #70707063;
    transition: 0.3s;
}
.c_news_top label[for*="tab"]{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 15px 15px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.c_news_top .read{
    width: 380px;
    height: 260px;

}

.c_news_top .read > div{
    width: 175px;
    height: 260px;
    float: left;
    border: 2px solid #707070;
    padding: 10px 10px;
    margin-right: 15px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c_news_top .read > div > h5{
    font-size: 13px;
    color: #707070;
   
}
.c_news_top .read div h5:hover{
    text-decoration: underline;
}

.c_news_top .read > div > p{
    font-size: 11px;
    color: #707070;
}
.c_news_top .read > div > span{
    font-size: 11px;
    color: #707070;
}
#c_news .news1{
    display: none;
}
#c_news .news2{
    display: none;
}


#c_news input[id="tab1"]:checked ~ .btn > label[for="tab1"]{
    background-color: #000;
}
#c_news input[id="tab2"]:checked ~ .btn > label[for="tab2"]{
    background-color: #000;
}

#c_news input[id="tab1"]:checked ~ .news1{
    display: block;
}
#c_news input[id="tab2"]:checked ~ .news2{
    display: block;
} 