#wrap{
        width: 100%;
}

#header{
        width: 100%;
}

#nav{
        margin: 0 auto;
        width: 1000px; 
        height: 120px;
}

/* 메인메뉴 */
#mainmn{
        width: 100%; 
        height: 100%;
        display: flex; 
        justify-content: space-around;
        padding: 50px 0 25px 0; 
        box-sizing: border-box;
}

#mainmn li{
        margin-top: 20px;
}

#mainmn > li > a{
        font-weight: 900; font-size: 18px;
}

#mainmn .h_logo{
        width: 190px;
}

#mainmn img{
        width: 100%;
}

/* 서브메뉴 */
#mainmn .submn{
        width: 100%; 
        margin-top: 15px;           
        display: none;
}

/* aside 버튼 */
#today_collect_btn{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 25px;
        box-sizing: border-box;
        background-color: black;
        position: fixed;
        top: 40%;
        left: -75px;
        z-index: 9999;
        display: flex;
        justify-content: right;
        align-items: center;
        border: 1px solid #fff;
}
      
#today_collect_btn p{
        font-size: 15px;
        color: #fff;
        line-height: 25px;
}
      
      
#reserve_btn{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 20px 20px 20px 15px;
        box-sizing: border-box;
        background-color:black;
        position: fixed;
        top: 40%;
        right: -75px;
        z-index: 9999;
        display: flex;
        justify-content: left;
        align-items: center;
        border: 1px solid #fff;
}
      
#reserve_btn p{
        font-size: 14px;
        color: #fff;
        line-height: 25px;
        text-align: end;
}
      
#top_btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color:black;
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
}
      
#top_btn span{
        color: #fff;
}
      

/* 콘텐츠 */
#exh_detail{
        width: 100%;
}

#top_img{
        width: 100%; 
        height: 200px;                    
        color: white; 
        text-align: center;                      
        padding-top: 40px; 
        box-sizing: border-box;               
        line-height: 35px;
        background: url(../images/top_img.png) no-repeat 20% 60%;
}

#top_img .top_img_in{
        width: 450px;
        height: 120px;
        margin: 0 auto;
        border: 2px solid #ccc;
        padding-top: 20px; 
        box-sizing: border-box;
}

#top_img_in h2{
        font-size: 25px;
        text-shadow: 3px 3px 5px #000;
}

#top_img_in p{
        font-size: 14px;
        font-weight: 600;
        text-shadow: 2px 2px 3px #000;
}
       
#top_img .location{
        width: 1000px; 
        margin: 0 auto;
        display: flex; 
        justify-content: flex-end;
        font-size: 10px;
}

#tab_mn{
        width: 1000px; 
        height: 150px;
        margin: 0 auto; 
        display: flex; 
        justify-content: space-around;
        padding-top: 50px; 
        box-sizing: border-box;
}

#tab_mn li{
        width: 20%; 
        height: 30%; 
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        border-bottom: 2px solid #ccc;
}
        
#tab_mn li:hover{
        border-bottom: 2px solid #000;
}

#exh_gray{
        width: 1000px; 
        margin: 0 auto;
}

/* 전시 서문 */
#exh_gray .exh_foreword{
        width: 100%; 
        height: 550px;
        text-align: center;
}

#exh_gray .exh_foreword h3{
        font-size: 20px; 
        margin-bottom: 15px;
}
        
#exh_gray .exh_foreword h4{
        font-size: 15px; 
        margin-bottom: 15px;
}

#exh_gray .exh_foreword p{
        font-size: 12px; 
        line-height: 20px;
        margin-bottom: 30px;
}

/* 전시 본문 */
#exh_gray .exh_body{
        width: 100%; 
        text-align: center;
        margin-top: 50px;
}

#exh_gray .exh_body h4{
        font-size: 16px; 
        margin-bottom: 15px;
}

/* 전시 작품 전체 블록에 적용  */
#exh_gray .exh_body .artwork{
        width: 100%; 
        margin-top: 20px;
}

#exh_gray .exh_body .artwork img{
        width: 100%; 
        margin-bottom: 20px;
}

#exh_gray .exh_body .artwork h5{
        font-size: 12px; 
        margin-bottom: 5px;
}

#exh_gray .exh_body .artwork p{
        font-size: 12px; 
        line-height: 20px;
}

/* 전시 작품 - 두번째 블록 */
#exh_gray .exh_body .second{
        width: 100%; 
        margin-top: 175px;
        display: flex;
        justify-content: space-between;
}

#exh_gray .exh_body .second .l_second img{
        width: 405px;
}

#exh_gray .exh_body .second .r_second img{
        width: 571px;
}

/* 전시 작품 - 세번째 블록 */
#exh_gray .exh_body .third{
        width: 100%;
        margin-top: 175px;
        display: flex;
        justify-content: space-between;
}

#exh_gray .exh_body .third img{
        width: 405px;
}

#exh_gray .exh_body .third .r_third_txt{
        width: 571px;
        text-align: left;
}

/* 전시 작품 - 네번째 블록 */
#exh_gray .exh_body .fourth{
        width: 100%;
        margin-top: 175px;
        display: flex;
        justify-content: space-between;
}

#exh_gray .exh_body .fourth .l_fourth_txt{
        width: 405px;
        text-align: left;
}

#exh_gray .exh_body .fourth img{
        width: 571px;
}

/* 전시 작품 - 다섯번째 블록 */
#exh_gray .exh_body .fifth{
        width: 100%;
        margin-top: 175px;
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
}

#exh_gray .exh_body .fifth img{
        width: 405px;
}

#exh_gray .exh_body .fifth .r_fifth_txt{
        width: 571px;
        text-align: left;
}


/* 하단 */
#footer{
        width: 100%; 
        height: 120px;
        background-color: black;
}

#footer_in{width: 1000px; 
        height: 120px;
        margin: 0 auto; 
        padding-top: 30px; 
        box-sizing: border-box;
        display: flex; 
        justify-content: space-between;
}

#footer_in .address{
        width: 75%; 
        color: #ccc;
        font-style: normal; 
        line-height: 20px;
}

#footer_in .address p{
        font-size: 12px;
}

#footer_in .address span{
        font-size: 12px;
}

#footer_in .sns{
        width: 25%; 
        margin-top: 15px;
        display: flex; 
        justify-content: space-between;
}

#footer_in .sns li{
        width: 35px;
}

#footer_in .sns li img{
        width: 100%;
}





        






