#wrap{width: 1920px;}

#header{width: 1200px;}
       
#nav{margin: 0 auto;
                width: 1000px; height: 120px;}
            /* 메인메뉴 */
#mainmn{width: 100%; height: 100%;
                    display: flex; justify-content: space-around;
                    padding: 50px 0 25px 0; box-sizing: border-box;}
#mainmn li{margin-top: 20px;}
#mainmn > li > a{font-weight: 900; font-size: 18px;}
#mainmn .h_logo{width: 190px;}
#mainmn img{width: 100%;}
             /* 서브메뉴 */
#mainmn .submn{width: 100%; margin-top: 15px;
                                display: none;}
            /* 메인이미지 */
#mainslide{width: 100%; height: 900px;}
#container{width: 100%;}
#container .album{width: 100%; height: 900px;
                                overflow: hidden;
                            }


/* 상단이미지 */

#top_img{width: 100%; height: 200px;
                color: white; text-align: center;
                padding-top: 40px; box-sizing: border-box;
                line-height: 35px;
                background: url(../images/top_img.png) no-repeat 20% 60%;}
#top_img .top_img_in{width: 450px; height: 120px;
                    margin: 0 auto;
                    border: 2px solid #ccc;
                    padding-top: 20px; box-sizing: border-box;}
#top_img_in h2{font-size: 25px;
                    text-shadow: 3px 3px 5px #000;}
#top_img_in p{font-size: 14px;
                    font-weight: 600;
                    text-shadow: 2px 2px 3px #000;}
#top_img .location{width: 1000px; margin: 0 auto;
                display: flex; justify-content: flex-end;
                font-size: 10px;}



/* 콘텐츠 */
#contents{width: 1280px; height: 1090px;}

        /* 탭메뉴 */
#contents .tab_mn{width: 1200px; height: 150px;
                padding-left:230px;
                position: relative;
                }
                

#contents .tab_mn .tab{
        width: 165px; height: 80px;
        float: left;
        line-height: 80px; 
        margin-left: 20px;
        border-bottom: 2px solid rgba(112, 112, 112, 0.3);
        text-align: center;
        cursor: pointer;
        z-index: 2;
        }
#contents .tab_mn .tab > p{font-size: 16px; color: #707070;}
#contents .tab_mn .tab:hover{ border-bottom: 2px solid  #707070;}       
#contents .tab_mn .background{z-index: 1;
                                position: absolute;
                                width: 165px; height: 80px;
                                left: 250px; top: 0px;
                               border-bottom:2px solid #707070; 
                               /* transition: 0.2s; */
                                }



        /* 전시목록 */
#contents .c_top{width: 1200px; height: 400px;}
#contents .c_top li{float: left;}
#contents .c_top li p{width: 160px; height: 70px;
                    margin-top: 270px;
                    border-left: 3px solid #707070;
                    margin-left: 7px;
                    padding-left: 10px;
                    }
#contents .c_top li > img{width: 300px; height: 300px;}
#contents .c_top li p > a{font-size: 14px; color: #707070;
                       }
#contents .c_top li p > span{font-size: 11px; color: #707070;
                            display: inline-block;
                            padding-top: 10px;}
#contents .c_top .exh_text{padding-top: 30px;}
#contents .c_top .exh1-2{padding-left: 90px;} 

#contents .c_bottom{width: 1200px; height: 540px;}
#contents .c_bottom li{float: right;}
#contents .c_bottom li p{width: 180px; height: 100px;
        margin-top: 235px;
        border-right: 3px solid #707070;
        margin-right: 7px;
        text-align: right;
        padding-right: 10px;
        }
#contents .c_bottom .exh2-2{padding-left: 90px;}
#contents ._bottom li > img{width: 300px; 
                        height: 300px;}
#contents .c_bottom li p > a{font-size: 14px; 
                        color: #707070;}
#contents .c_bottom li p > span{font-size: 11px; 
                            color: #707070;
                            display: inline-block;
                            padding-top: 17px;}

#survey{
    width: 1200px; height: 180px;
    background-color: beige;
}
#footer{
    width: 1920px; height: 115px;
    background-color: black;
}
#footer_in{width: 1000px; height: 120px;
        margin: 0 auto; padding-top: 30px; box-sizing: border-box;
        display: flex; justify-content: space-between;}
#footer_in .address{width: 75%; color: #ccc;
                        font-style: normal; line-height: 20px;}
#footer_in .address p{font-size: 12px;}
#footer_in .address span{font-size: 12px;}
#footer_in .sns{width: 25%; margin-top: 15px;
                display: flex; justify-content: space-between;}
#footer_in .sns li{width: 35px;}
#footer_in .sns li img{width: 100%;}



